.responsive-image {
   display: flex;
   align-items: center;
   
  }
  
  .responsive-image__image {
   width : 20%;
   height:40%;
   border-style: solid;
   border-width: 1.5rem;
   border-color: rgb(8, 8, 8);
   padding:1rem;
  }
  .p{
    color: antiquewhite;
    font-size: 2rem;
    padding:2rem;
    font-style:italic;
  }

@media  (max-width: 425px) {
  .responsive-image__image {
    width : 60%;
    height: 80%;
    border-width: 0.5rem;
    padding: 0.1rem;
    margin-left: 4rem;
  }
  .responsive-image {
    display: grid;
    justify-content: center;
   }
   .p{
    padding: 1rem;
   }
}